# [공공데이터포털](https://www.data.go.kr/)

In [14]:
import pandas as pd

데이터의 3분류  
정형데이터 : 표에 넣을 수 있는 데이터  
비정형 데이터 : 음성, 이미지  
반정형 데이터 :  
 
pandas에서는 정형,반정형 데이터를 처리할 때 사용함

# UnicodeDecodeError일어나는 이유???????????????

In [15]:
data = pd.read_csv('a.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 0: invalid start byte

In [16]:
# 해결책1
data = pd.read_csv('a.csv', engine='python')

In [17]:
data
# 흐어어어엉 자료 잘 안나와

       �õ�  �ñ���    ��  �߻��Ǽ�  ����ڼ�  �λ��ڼ�  �߻�  ���  �λ�Ű�
0     ����  ���α�  01��     103       0     133   23   90     20
1     ����  ���α�  02��      84       1     111   20   77     14
2     ����  ���α�  03��     101       0     149   34   91     24
3     ����  ���α�  04��      93       0     114   27   78      9
4     ����  ���α�  05��     102       1     143   24   96     23
5     ����  ���α�  06��      96       1     123   32   84      7
6     ����  ���α�  07��      89       0     128   28   83     17
7     ����  ���α�  08��      90       0     127   29   85     13
8     ����  ���α�  09��      91       1     133   24   96     13
9     ����  ���α�  10��     113       0     166   30  109     27
10    ����  ���α�  11��      75       1     100   22   69      9
11    ����  ���α�  12��      97       1     119   27   81     11
12    ����    �߱�  01��     104       1     143   38   88     17
13    ����    �߱�  02��      95       2     116   29   74     13
14    ����    �߱�  03��     106       1     141   41   85     15
15    ����    �߱�  04��      84       1     130   27   82     21
16    ����    �߱�  05��     105       1     134   43   76     15
17    ����    �߱�  06��     103       0     129   33   87      9
18    ����    �߱�  07��      80       0     116   34   72     10
19    ����    �߱�  08��      85       1     117   28   77     12
20    ����    �߱�  09��      77       0      93   28   57      8
21    ����    �߱�  10��     102       0     128   33   86      9
22    ����    �߱�  11��      93       1     131   21   90     20
23    ����    �߱�  12��      94       1     128   25   88     15
24    ����    ��걸  01��     100       3     140   31  103      6
25    ����    ��걸  02��     104       1     149   33  108      8
26    ����    ��걸  03��     102       0     160   37  109     14
27    ����    ��걸  04��     123       0     162   37  114     11
28    ����    ��걸  05��     134       2     182   42  134      6
29    ����    ��걸  06��     105       3     142   29  102     11
...    ...    ...   ...     ...     ...     ...  ...  ...    ...
2715   ���    �ϱ�  07��      45       0      79   27   48      4
2716   ���    �ϱ�  08��      61       3     108   25   73     10
2717   ���    �ϱ�  09��      48       0      68   19   42      7
2718   ���    �ϱ�  10��      76       1     130   29   90     11
2719   ���    �ϱ�  11��      53       0      90   16   69      5
2720   ���    �ϱ�  12��      59       1      80   18   52     10
2721   ���  ���ֱ�  01��      54       3      72   23   37     12
2722   ���  ���ֱ�  02��      71       0     123   34   76     13
2723   ���  ���ֱ�  03��      69       1     104   31   59     14
2724   ���  ���ֱ�  04��      66       0     104   27   70      7
2725   ���  ���ֱ�  05��      62       3      91   24   64      3
2726   ���  ���ֱ�  06��      70       3      99   27   64      8
2727   ���  ���ֱ�  07��      69       2     109   27   74      8
2728   ���  ���ֱ�  08��      74       2     112   26   74     12
2729   ���  ���ֱ�  09��      70       3     122   32   72     18
2730   ���  ���ֱ�  10��      79       3     131   35   84     12
2731   ���  ���ֱ�  11��      73       3     125   37   72     16
2732   ���  ���ֱ�  12��      73       1     116   31   75     10
2733  ����   ����  01��      57       4      88   24   59      5
2734  ����   ����  02��      73       0     115   23   90      2
2735  ����   ����  03��      81       4     106   29   72      5
2736  ����   ����  04��      88       2     112   31   79      2
2737  ����   ����  05��      76       2     120   35   82      3
2738  ����   ����  06��      69       3     106   30   73      3
2739  ����   ����  07��      62       0      85   24   59      2
2740  ����   ����  08��      52       1      85   26   58      1
2741  ����   ����  09��      50       4      61   14   46      1
2742  ����   ����  10��      65       0      90   22   66      2
2743  ����   ����  11��      65       0      91   17   71      3
2744  ����   ����  12��      57       0      83   13   69      1

[2745 rows x 9 columns]

In [18]:
# 해결책2 : 한국어 데이터라 cp949쓰면 될 듯
data = pd.read_csv('a.csv', engine='python', encoding='cp949')

# 한국의 데이터는  engine='python', encoding='cp949' 옵션으로 충분하게 부를 수 있다.

In [19]:
data

      시도  시군구    월  발생건수  사망자수  부상자수  중상   경상  부상신고
0     서울  종로구  01월   103     0   133  23   90    20
1     서울  종로구  02월    84     1   111  20   77    14
2     서울  종로구  03월   101     0   149  34   91    24
3     서울  종로구  04월    93     0   114  27   78     9
4     서울  종로구  05월   102     1   143  24   96    23
5     서울  종로구  06월    96     1   123  32   84     7
6     서울  종로구  07월    89     0   128  28   83    17
7     서울  종로구  08월    90     0   127  29   85    13
8     서울  종로구  09월    91     1   133  24   96    13
9     서울  종로구  10월   113     0   166  30  109    27
10    서울  종로구  11월    75     1   100  22   69     9
11    서울  종로구  12월    97     1   119  27   81    11
12    서울   중구  01월   104     1   143  38   88    17
13    서울   중구  02월    95     2   116  29   74    13
14    서울   중구  03월   106     1   141  41   85    15
15    서울   중구  04월    84     1   130  27   82    21
16    서울   중구  05월   105     1   134  43   76    15
17    서울   중구  06월   103     0   129  33   87     9
18    서울   중구  07월    80     0   116  34   72    10
19    서울   중구  08월    85     1   117  28   77    12
20    서울   중구  09월    77     0    93  28   57     8
21    서울   중구  10월   102     0   128  33   86     9
22    서울   중구  11월    93     1   131  21   90    20
23    서울   중구  12월    94     1   128  25   88    15
24    서울  용산구  01월   100     3   140  31  103     6
25    서울  용산구  02월   104     1   149  33  108     8
26    서울  용산구  03월   102     0   160  37  109    14
27    서울  용산구  04월   123     0   162  37  114    11
28    서울  용산구  05월   134     2   182  42  134     6
29    서울  용산구  06월   105     3   142  29  102    11
...   ..  ...  ...   ...   ...   ...  ..  ...   ...
2715  울산   북구  07월    45     0    79  27   48     4
2716  울산   북구  08월    61     3   108  25   73    10
2717  울산   북구  09월    48     0    68  19   42     7
2718  울산   북구  10월    76     1   130  29   90    11
2719  울산   북구  11월    53     0    90  16   69     5
2720  울산   북구  12월    59     1    80  18   52    10
2721  울산  울주군  01월    54     3    72  23   37    12
2722  울산  울주군  02월    71     0   123  34   76    13
2723  울산  울주군  03월    69     1   104  31   59    14
2724  울산  울주군  04월    66     0   104  27   70     7
2725  울산  울주군  05월    62     3    91  24   64     3
2726  울산  울주군  06월    70     3    99  27   64     8
2727  울산  울주군  07월    69     2   109  27   74     8
2728  울산  울주군  08월    74     2   112  26   74    12
2729  울산  울주군  09월    70     3   122  32   72    18
2730  울산  울주군  10월    79     3   131  35   84    12
2731  울산  울주군  11월    73     3   125  37   72    16
2732  울산  울주군  12월    73     1   116  31   75    10
2733  세종   세종  01월    57     4    88  24   59     5
2734  세종   세종  02월    73     0   115  23   90     2
2735  세종   세종  03월    81     4   106  29   72     5
2736  세종   세종  04월    88     2   112  31   79     2
2737  세종   세종  05월    76     2   120  35   82     3
2738  세종   세종  06월    69     3   106  30   73     3
2739  세종   세종  07월    62     0    85  24   59     2
2740  세종   세종  08월    52     1    85  26   58     1
2741  세종   세종  09월    50     4    61  14   46     1
2742  세종   세종  10월    65     0    90  22   66     2
2743  세종   세종  11월    65     0    91  17   71     3
2744  세종   세종  12월    57     0    83  13   69     1

[2745 rows x 9 columns]

In [20]:
type(data)
# DataFrame객체 == structured array기반으로 만들었다.

pandas.core.frame.DataFrame

In [21]:
data.iloc[4]

시도       서울
시군구     종로구
월       05월
발생건수    102
사망자수      1
부상자수    143
중상       24
경상       96
부상신고     23
Name: 4, dtype: object

In [22]:
data.shape

(2745, 9)

In [24]:
data.dtypes
# data type이 여러개므로 dtypes라고 쓴다.
# pandas에서 object는 문자라고 생각하면 됨

시도      object
시군구     object
월       object
발생건수     int64
사망자수     int64
부상자수     int64
중상       int64
경상       int64
부상신고     int64
dtype: object

In [26]:
# 시 별로 묶기
data.groupby('시도').mean()

          발생건수      사망자수        부상자수         중상          경상       부상신고
시도
강원   34.712963  0.912037   55.194444  12.310185   40.129630   2.754630
경기  143.677419  1.822581  218.209677  45.239247  154.008065  18.962366
경남   53.208333  1.541667   76.175926  26.912037   45.819444   3.444444
경북   50.970803  1.492701   76.346715  21.470803   51.310219   3.565693
광주  124.316667  1.266667  199.616667  24.733333  169.083333   5.800000
대구  137.489583  1.250000  201.375000  43.468750  141.812500  16.093750
대전  125.900000  1.550000  190.533333  33.950000  148.500000   8.083333
부산   62.171875  0.640625   85.770833  23.687500   55.140625   6.942708
서울  129.316667  1.013333  179.170000  37.940000  125.750000  15.480000
세종   66.250000  1.666667   95.166667  24.000000   68.666667   2.500000
울산   66.533333  1.316667   96.283333  25.983333   63.366667   6.933333
인천   64.134454  0.949580   92.235294  20.781513   66.571429   4.882353
전남   37.071970  1.250000   59.393939  12.893939   44.659091   1.840909
전북   41.244048  1.464286   62.214286  15.059524   46.464286   0.690476
제주  176.625000  3.416667  275.458333  58.458333  181.125000  35.875000
충남   48.927778  1.966667   73.794444  22.927778   48.166667   2.700000
충북   72.863636  1.696970  118.840909  27.772727   86.772727   4.295455

In [27]:
data['사망자수']

0       0
1       1
2       0
3       0
4       1
5       1
6       0
7       0
8       1
9       0
10      1
11      1
12      1
13      2
14      1
15      1
16      1
17      0
18      0
19      1
20      0
21      0
22      1
23      1
24      3
25      1
26      0
27      0
28      2
29      3
       ..
2715    0
2716    3
2717    0
2718    1
2719    0
2720    1
2721    3
2722    0
2723    1
2724    0
2725    3
2726    3
2727    2
2728    2
2729    3
2730    3
2731    3
2732    1
2733    4
2734    0
2735    4
2736    2
2737    2
2738    3
2739    0
2740    1
2741    4
2742    0
2743    0
2744    0
Name: 사망자수, Length: 2745, dtype: int64

In [29]:
# fancy indexing으로 내가 원하는 데이터 추출 && dict방식
data[['사망자수', '부상자수']]

      사망자수  부상자수
0        0   133
1        1   111
2        0   149
3        0   114
4        1   143
5        1   123
6        0   128
7        0   127
8        1   133
9        0   166
10       1   100
11       1   119
12       1   143
13       2   116
14       1   141
15       1   130
16       1   134
17       0   129
18       0   116
19       1   117
20       0    93
21       0   128
22       1   131
23       1   128
24       3   140
25       1   149
26       0   160
27       0   162
28       2   182
29       3   142
...    ...   ...
2715     0    79
2716     3   108
2717     0    68
2718     1   130
2719     0    90
2720     1    80
2721     3    72
2722     0   123
2723     1   104
2724     0   104
2725     3    91
2726     3    99
2727     2   109
2728     2   112
2729     3   122
2730     3   131
2731     3   125
2732     1   116
2733     4    88
2734     0   115
2735     4   106
2736     2   112
2737     2   120
2738     3   106
2739     0    85
2740     1    85
2741     4    61
2742     0    90
2743     0    91
2744     0    83

[2745 rows x 2 columns]

# 데이터 attribute방식으로도 접근 가능!
numpy랑 dictionary에서는 한column 접근 가능 but pandas는 복수개 가능

numpy.는 dict방식만, 객체는 attribute방식만 사용 가능  
data frame(pandas)에서는 attribute, dict방식 둘 다 가능
attribute방식 단점
1. attribute 이름에 공백/특수문자가 있으면 안 됨
2. 기존의 method와 이름이 같으면 충돌이 일어난다.

dict 단점
1. 귀찮다.

------

data-frame에서 column데이터 가져오는 방법
1. dict 방식 <code>data['시군구']</code>
2. attribute방식 <code>data.부상신고.mean()</code>
3. fancy indexing
4. .select_dtypes

In [30]:
# 행 2가지 :
data.iloc()[:5]

   시도  시군구    월  발생건수  사망자수  부상자수  중상  경상  부상신고
0  서울  종로구  01월   103     0   133  23  90    20
1  서울  종로구  02월    84     1   111  20  77    14
2  서울  종로구  03월   101     0   149  34  91    24
3  서울  종로구  04월    93     0   114  27  78     9
4  서울  종로구  05월   102     1   143  24  96    23