In [1]:
def a(t):
    return t + 1

In [2]:
a = lambda t : t + 1
# 람다함수식
# 콜론 왼쪽은 parameter, 왼쪽은 return값
# 이름이 없어서 익명함수라고도 한다.
# 식이라서 할당 가능

In [3]:
a(4)
# 관례상, python에서는 a를 name또는 식별자라 한다. 함수도 값으로 들어올 수 있기 때문이다.
# 다른 언어에서는 변수라고 함
# 값이라고 해도 틀린말은 아님. first class function

5

In [4]:
z
# 식별자가 정의 안되어서 name error를 표시함

NameError: name 'z' is not defined

In [5]:
def f(x = 1):
    return 1
c = lambda x = 1 : x
# f와 c는 같은 함수
# lambda식에서도 default값 줄 수 있다.

In [6]:
c(6)

6

# lambda함수 용도 : 재사용할 필요없는 함수 만들 때 씀

map에서 한 번 쓰기 위해서 함수를 따로 def하기에는 너무 귀찮아.... lambda로 편리하게 해결하는게...! 

재사용하는 함수일 땐 함수 정의해서 쓴다.

In [7]:
def z(x):
    return x + 1
map(z, [1, 2, 3, 4])

In [8]:
map(lambda x : x + 1, [1, 2, 3, 4])

``` python
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)
f(0)
f(1)
```
lambda 함수로 runtime때 closure생성 가능하다!

In [9]:
import seaborn as sns

In [10]:
tips = sns.load_dataset('tips')
# default값은 안넣어도 된다. *도 안 넣어도 된다.

In [11]:
tips
# 성별 담배피는 여부, 점심인지 저녁인지, 몸 크기, 성별로
# 팁을 얼마나 줬는지 확인해보기
# 데이터에서 숨어있는 의미 보려고

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [21]:
tips.head(10)
# default값 있어서 아무것도 안써도 됨

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [22]:
tips.tail(25)

     total_bill   tip     sex smoker   day    time  size
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [63]:
tips.sample(10, replace = True)
# 비복원추출 복원추출이냐 replace

     total_bill   tip     sex smoker   day    time  size
22        15.77  2.23  Female     No   Sat  Dinner     2
139       13.16  2.75  Female     No  Thur   Lunch     2
59        48.27  6.73    Male     No   Sat  Dinner     4
49        18.04  3.00    Male     No   Sun  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
141       34.30  6.70    Male     No  Thur   Lunch     6
242       17.82  1.75    Male     No   Sat  Dinner     2
152       17.26  2.74    Male     No   Sun  Dinner     3
100       11.35  2.50  Female    Yes   Fri  Dinner     2

In [ ]:
tips.sample(10, replace = True)