1. data read : merge, join, concat
2. tidy data로 만들기 : melt, widetolong??? 사용
3. 이름(column) 바꾸기
4. data type확인

In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips
# 데이터를 가져온 다음 tidy데이터인지 확인하기
# 그리고 column에서 이름이 충돌되는지 확인하고 이름 바꾸기.. (rename)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips['smoker']

0       No
1       No
2       No
3       No
4       No
5       No
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21      No
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
      ...
214    Yes
215    Yes
216    Yes
217    Yes
218    Yes
219    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
227     No
228     No
229    Yes
230    Yes
231    Yes
232     No
233     No
234    Yes
235     No
236    Yes
237    Yes
238     No
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No]

In [5]:
tips[['smoker']]
# fancy indexing은 data frame을 반환한다

    smoker
0       No
1       No
2       No
3       No
4       No
5       No
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21      No
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
..     ...
214    Yes
215    Yes
216    Yes
217    Yes
218    Yes
219    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
227     No
228     No
229    Yes
230    Yes
231    Yes
232     No
233     No
234    Yes
235     No
236    Yes
237    Yes
238     No
239     No
240    Yes
241    Yes
242     No
243     No

[244 rows x 1 columns]

In [7]:
tips.size
# ????? 이거 numpy.size꺼랑 충돌... rename해야 함
# numpy의 size를 가져옴
# tips['size']써야함

1708

In [18]:
tips.rename()

TypeError: must pass an index to rename

In [11]:
tips.rename({'size':'size_'})
# 첫 번째 인자가 mapper이면 dictionary넣어야 함
# axis없어서 안바뀜

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
tips.rename(columns={'size':'size_'})
# columns쓰면 axis쓸 필요가 없다. 자동으로 axis = 1로 설정된다.
# index쓰면  axis쓸 필요가 없다. 자동으로 axis = 0로 설정된다.
# rename : column, index이름 바꿀 때 사용하는 함수

     total_bill   tip     sex smoker   day    time  size_
0         16.99  1.01  Female     No   Sun  Dinner      2
1         10.34  1.66    Male     No   Sun  Dinner      3
2         21.01  3.50    Male     No   Sun  Dinner      3
3         23.68  3.31    Male     No   Sun  Dinner      2
4         24.59  3.61  Female     No   Sun  Dinner      4
5         25.29  4.71    Male     No   Sun  Dinner      4
6          8.77  2.00    Male     No   Sun  Dinner      2
7         26.88  3.12    Male     No   Sun  Dinner      4
8         15.04  1.96    Male     No   Sun  Dinner      2
9         14.78  3.23    Male     No   Sun  Dinner      2
10        10.27  1.71    Male     No   Sun  Dinner      2
11        35.26  5.00  Female     No   Sun  Dinner      4
12        15.42  1.57    Male     No   Sun  Dinner      2
13        18.43  3.00    Male     No   Sun  Dinner      4
14        14.83  3.02  Female     No   Sun  Dinner      2
15        21.58  3.92    Male     No   Sun  Dinner      2
16        10.33  1.67  Female     No   Sun  Dinner      3
17        16.29  3.71    Male     No   Sun  Dinner      3
18        16.97  3.50  Female     No   Sun  Dinner      3
19        20.65  3.35    Male     No   Sat  Dinner      3
20        17.92  4.08    Male     No   Sat  Dinner      2
21        20.29  2.75  Female     No   Sat  Dinner      2
22        15.77  2.23  Female     No   Sat  Dinner      2
23        39.42  7.58    Male     No   Sat  Dinner      4
24        19.82  3.18    Male     No   Sat  Dinner      2
25        17.81  2.34    Male     No   Sat  Dinner      4
26        13.37  2.00    Male     No   Sat  Dinner      2
27        12.69  2.00    Male     No   Sat  Dinner      2
28        21.70  4.30    Male     No   Sat  Dinner      2
29        19.65  3.00  Female     No   Sat  Dinner      2
..          ...   ...     ...    ...   ...     ...    ...
214       28.17  6.50  Female    Yes   Sat  Dinner      3
215       12.90  1.10  Female    Yes   Sat  Dinner      2
216       28.15  3.00    Male    Yes   Sat  Dinner      5
217       11.59  1.50    Male    Yes   Sat  Dinner      2
218        7.74  1.44    Male    Yes   Sat  Dinner      2
219       30.14  3.09  Female    Yes   Sat  Dinner      4
220       12.16  2.20    Male    Yes   Fri   Lunch      2
221       13.42  3.48  Female    Yes   Fri   Lunch      2
222        8.58  1.92    Male    Yes   Fri   Lunch      1
223       15.98  3.00  Female     No   Fri   Lunch      3
224       13.42  1.58    Male    Yes   Fri   Lunch      2
225       16.27  2.50  Female    Yes   Fri   Lunch      2
226       10.09  2.00  Female    Yes   Fri   Lunch      2
227       20.45  3.00    Male     No   Sat  Dinner      4
228       13.28  2.72    Male     No   Sat  Dinner      2
229       22.12  2.88  Female    Yes   Sat  Dinner      2
230       24.01  2.00    Male    Yes   Sat  Dinner      4
231       15.69  3.00    Male    Yes   Sat  Dinner      3
232       11.61  3.39    Male     No   Sat  Dinner      2
233       10.77  1.47    Male     No   Sat  Dinner      2
234       15.53  3.00    Male    Yes   Sat  Dinner      2
235       10.07  1.25    Male     No   Sat  Dinner      2
236       12.60  1.00    Male    Yes   Sat  Dinner      2
237       32.83  1.17    Male    Yes   Sat  Dinner      2
238       35.83  4.67  Female     No   Sat  Dinner      3
239       29.03  5.92    Male     No   Sat  Dinner      3
240       27.18  2.00  Female    Yes   Sat  Dinner      2
241       22.67  2.00    Male    Yes   Sat  Dinner      2
242       17.82  1.75    Male     No   Sat  Dinner      2
243       18.78  3.00  Female     No  Thur  Dinner      2

[244 rows x 7 columns]

In [8]:
tips.time

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
5      Dinner
6      Dinner
7      Dinner
8      Dinner
9      Dinner
10     Dinner
11     Dinner
12     Dinner
13     Dinner
14     Dinner
15     Dinner
16     Dinner
17     Dinner
18     Dinner
19     Dinner
20     Dinner
21     Dinner
22     Dinner
23     Dinner
24     Dinner
25     Dinner
26     Dinner
27     Dinner
28     Dinner
29     Dinner
        ...
214    Dinner
215    Dinner
216    Dinner
217    Dinner
218    Dinner
219    Dinner
220     Lunch
221     Lunch
222     Lunch
223     Lunch
224     Lunch
225     Lunch
226     Lunch
227    Dinner
228    Dinner
229    Dinner
230    Dinner
231    Dinner
232    Dinner
233    Dinner
234    Dinner
235    Dinner
236    Dinner
237    Dinner
238    Dinner
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): [Lunch, Dinner]

In [ ]:
# deprecated는 전부 decorator로 표시...!

In [15]:
tips.info()
# category : 문자열 데이터인데, 갯수가 정해진 것

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [17]:
tips['size'].astype('category')
# 데이터 타입 바꾸고 싶으면,,,
# inplace없어서 재할당

0      2
1      3
2      3
3      2
4      4
5      4
6      2
7      4
8      2
9      2
10     2
11     4
12     2
13     4
14     2
15     2
16     3
17     3
18     3
19     3
20     2
21     2
22     2
23     4
24     2
25     4
26     2
27     2
28     2
29     2
      ..
214    3
215    2
216    5
217    2
218    2
219    4
220    2
221    2
222    1
223    3
224    2
225    2
226    2
227    4
228    2
229    2
230    4
231    3
232    2
233    2
234    2
235    2
236    2
237    2
238    3
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: category
Categories (6, int64): [1, 2, 3, 4, 5, 6]

In [19]:
tips['size2'] = tips['size'].astype('category')
# 원본 보관할라고 새로운 column에 저장

# size2라는 column이 새김
# dict이랑 유사..

In [20]:
tips

     total_bill   tip     sex smoker   day    time  size size2
0         16.99  1.01  Female     No   Sun  Dinner     2     2
1         10.34  1.66    Male     No   Sun  Dinner     3     3
2         21.01  3.50    Male     No   Sun  Dinner     3     3
3         23.68  3.31    Male     No   Sun  Dinner     2     2
4         24.59  3.61  Female     No   Sun  Dinner     4     4
5         25.29  4.71    Male     No   Sun  Dinner     4     4
6          8.77  2.00    Male     No   Sun  Dinner     2     2
7         26.88  3.12    Male     No   Sun  Dinner     4     4
8         15.04  1.96    Male     No   Sun  Dinner     2     2
9         14.78  3.23    Male     No   Sun  Dinner     2     2
10        10.27  1.71    Male     No   Sun  Dinner     2     2
11        35.26  5.00  Female     No   Sun  Dinner     4     4
12        15.42  1.57    Male     No   Sun  Dinner     2     2
13        18.43  3.00    Male     No   Sun  Dinner     4     4
14        14.83  3.02  Female     No   Sun  Dinner     2     2
15        21.58  3.92    Male     No   Sun  Dinner     2     2
16        10.33  1.67  Female     No   Sun  Dinner     3     3
17        16.29  3.71    Male     No   Sun  Dinner     3     3
18        16.97  3.50  Female     No   Sun  Dinner     3     3
19        20.65  3.35    Male     No   Sat  Dinner     3     3
20        17.92  4.08    Male     No   Sat  Dinner     2     2
21        20.29  2.75  Female     No   Sat  Dinner     2     2
22        15.77  2.23  Female     No   Sat  Dinner     2     2
23        39.42  7.58    Male     No   Sat  Dinner     4     4
24        19.82  3.18    Male     No   Sat  Dinner     2     2
25        17.81  2.34    Male     No   Sat  Dinner     4     4
26        13.37  2.00    Male     No   Sat  Dinner     2     2
27        12.69  2.00    Male     No   Sat  Dinner     2     2
28        21.70  4.30    Male     No   Sat  Dinner     2     2
29        19.65  3.00  Female     No   Sat  Dinner     2     2
..          ...   ...     ...    ...   ...     ...   ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1     1
223       15.98  3.00  Female     No   Fri   Lunch     3     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2     2
227       20.45  3.00    Male     No   Sat  Dinner     4     4
228       13.28  2.72    Male     No   Sat  Dinner     2     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3     3
232       11.61  3.39    Male     No   Sat  Dinner     2     2
233       10.77  1.47    Male     No   Sat  Dinner     2     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2     2
235       10.07  1.25    Male     No   Sat  Dinner     2     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2     2
238       35.83  4.67  Female     No   Sat  Dinner     3     3
239       29.03  5.92    Male     No   Sat  Dinner     3     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2     2
242       17.82  1.75    Male     No   Sat  Dinner     2     2
243       18.78  3.00  Female     No  Thur  Dinner     2     2

[244 rows x 8 columns]

In [21]:
tips.size2.value_counts()
# value_counts사용 가능

2    156
3     38
4     37
5      5
6      4
1      4
Name: size2, dtype: int64

In [22]:
tips.describe()
# category는 숫자로 취급 안함...

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# [new vs init](https://spyhce.com/blog/understanding-new-and-init)

In [60]:
tips.size3 = tips['size'].astype('category')
# property? : __new__가 없어서 에러가 일어남...!!!!
# attribute방식은 새로운 attribute추가하는 것을 지원 안한다. dict만 사용가능...

In [27]:
a = tips.smoker.str
# 문자열의 경우 .str 문자열과 관련된 수 많은 메소드를 지원함 == vectorize된 방식(데이터 여러개 바꾸는 것 지원) == universal function사용

In [28]:
a

In [32]:
def t(x):
    return x.upper()

map의 사용 용례2가지
1. 함수식
2. dictionary

In [33]:
tips.smoker.map(t)
# 단점 : 쓰기 어렵다
# 장점 : 내 맘대로 customize할 수 있다.

0       NO
1       NO
2       NO
3       NO
4       NO
5       NO
6       NO
7       NO
8       NO
9       NO
10      NO
11      NO
12      NO
13      NO
14      NO
15      NO
16      NO
17      NO
18      NO
19      NO
20      NO
21      NO
22      NO
23      NO
24      NO
25      NO
26      NO
27      NO
28      NO
29      NO
      ...
214    YES
215    YES
216    YES
217    YES
218    YES
219    YES
220    YES
221    YES
222    YES
223     NO
224    YES
225    YES
226    YES
227     NO
228     NO
229    YES
230    YES
231    YES
232     NO
233     NO
234    YES
235     NO
236    YES
237    YES
238     NO
239     NO
240    YES
241    YES
242     NO
243     NO
Name: smoker, Length: 244, dtype: category
Categories (2, object): [YES, NO]

str은 vectorize된 string에 대한 함수를 지원해준다.

In [31]:
tips.smoker.str.upper()
# map쓸 필요 없이 해줌...

0       NO
1       NO
2       NO
3       NO
4       NO
5       NO
6       NO
7       NO
8       NO
9       NO
10      NO
11      NO
12      NO
13      NO
14      NO
15      NO
16      NO
17      NO
18      NO
19      NO
20      NO
21      NO
22      NO
23      NO
24      NO
25      NO
26      NO
27      NO
28      NO
29      NO
      ...
214    YES
215    YES
216    YES
217    YES
218    YES
219    YES
220    YES
221    YES
222    YES
223     NO
224    YES
225    YES
226    YES
227     NO
228     NO
229    YES
230    YES
231    YES
232     NO
233     NO
234    YES
235     NO
236    YES
237    YES
238     NO
239     NO
240    YES
241    YES
242     NO
243     NO
Name: smoker, Length: 244, dtype: object

In [35]:
tips.size2.map(lambda x : 'S' if x==1 or x==2 else 'M' if x==3 or x==4 else x)
# 넘모 복잡해...

0      S
1      M
2      M
3      S
4      M
5      M
6      S
7      M
8      S
9      S
10     S
11     M
12     S
13     M
14     S
15     S
16     M
17     M
18     M
19     M
20     S
21     S
22     S
23     M
24     S
25     M
26     S
27     S
28     S
29     S
      ..
214    M
215    S
216    5
217    S
218    S
219    M
220    S
221    S
222    S
223    M
224    S
225    S
226    S
227    M
228    S
229    S
230    M
231    M
232    S
233    S
234    S
235    S
236    S
237    S
238    M
239    M
240    S
241    S
242    S
243    S
Name: size2, Length: 244, dtype: object

In [36]:
tips.size2.map({1:'S',2:'S'})
# 조건에 안 맞으면 NaN이 나온다.

0        S
1      NaN
2      NaN
3        S
4      NaN
5      NaN
6        S
7      NaN
8        S
9        S
10       S
11     NaN
12       S
13     NaN
14       S
15       S
16     NaN
17     NaN
18     NaN
19     NaN
20       S
21       S
22       S
23     NaN
24       S
25     NaN
26       S
27       S
28       S
29       S
      ...
214    NaN
215      S
216    NaN
217      S
218      S
219    NaN
220      S
221      S
222      S
223    NaN
224      S
225      S
226      S
227    NaN
228      S
229      S
230    NaN
231    NaN
232      S
233      S
234      S
235      S
236      S
237      S
238    NaN
239    NaN
240      S
241      S
242      S
243      S
Name: size2, Length: 244, dtype: object

In [39]:
b = 'moon beauty'

In [40]:
dir(b)
# 여기에서 지원되는 함수는 vectorize지원 안된다.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
c = '/sun/moon.jpg'

In [45]:
c.split('/')[-1] # 파일 명 가져오기
# 공백으로 쪼개라, 결과로 list가 나옴

'moon.jpg'

In [46]:
c.split('/')
# maxsplit = -1 : 자동을 의미함
# maxsplit = 1이면, 한번만 쪼갬

['', 'sun', 'moon.jpg']

In [49]:
c.rsplit('/', 1)
# 오른쪽부터 쪼갬

['/sun', 'moon.jpg']

In [ ]:
rsplit, split차이 == 쪼개는게, 오른쪽 먼저냐, 왼쪽 먼저냐 차이

In [51]:
'   a  '.strip()
# 앞이나 뒤의 공백문자 제거

'a'

In [54]:
c.replace('sun', 'm').replace('m', 't')
# sum을 m으로 바꿔라
# copy를 return 하므로 계속해서 바꿀 수 있음, 메모리를 공유를 return한다면 안된다...

'/t/toon.jpg'

In [58]:
d = ['아', '이', '린']

In [59]:
'-'.join(d)

'아-이-린'

# pandas에서는, 시간에 관한 데이터도 저장할 수 있음

.cat : 카테고리에 대해서 지원하는 함수  
.dt : 시간에 대해서 지원하는 method  
.str : 문자열에 대해서 지원하는 함수(pandas는 series에 있는 데이터 vectorize하고, python기본 함수는 원소 하나만 ...)

read_csv에서 시간 데이터를 인식 못해서 object로 인식('2019-05-06'), pd.to_datetime으로 시간으로 변환시켜야 함  
tips에서 size는 category인데 int로 인식함...  
index가 시간인 데이터를 시계열 분석이라고 함 == 시간으로 indexing가능함...! == 시간에 따라서 어떻게 변하는가 관측하는 기법

``` python 
2019-05-06    4
...
2020-01-05    67
```
위와 같은 데이터를 읽으면...

In [ ]:
ti = pd.read_csv()

In [ ]:
ti.info() # category로 잘못 읽음.. 나는 시간 형태로 저장하길 바랬는

In [ ]:
ti[0] = pd.to_datetime(ti[0]) # datetime으로 바꿈

In [ ]:
ti.info()

In [ ]:
ti.set_index(0, inplace=True) # index를 시간으로 바꿈
ti['2019-05':'2020-05-13'] # 이러한 indexing이 가능해짐

In [ ]:
groupby는 예측분석이랑 상관 없다.

In [64]:
# 예측분석 : ,
# 예측분석이 안될 때 사용하는 것들 : groupby, pivottable cross tab (aggregation)

# pandas 기능
- 기초 통계분석
  - 기술통계 분석 (시간과 관련없는 통계분석)
  - 시계열 분석
  - 집합통계 분석 (예측 통계분석과 관련 없다.)
  
  
- 전처리 (분석 잘하기 위해서 데이터 가공하는 과정)
  - map만 쓸 줄 알면 모든 전처리를 할 수 있다.
  - number : int64, float64
  - object : str(.str), category(.cat)
  - datetime : datetime64, timedelta64(.dt)